<% provide(:title, 'Edit Profile') %>

<h1>Edit <%= show_user_type(@user) %> Profile </h1>

<div class="row">
	<div class="span6 offset3">
	
<%= form_for(@user) do |f| %>

	<%= f.label :first_name %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name %>
	<%= f.text_field :last_name %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>

	<%= f.label :cellphone, "Cell Phone Number example: 123-456-7810" %>
	<%= f.text_field :cellphone %>							

  <%= f.label :avatar, "Upload a Profile Picture" %>
  <%= f.file_field :avatar %>

  <%= f.label :user_type, "Change User Type" %>
  <%= f.select(:user_type, options_for_select([
								['Committee Member', '3'],
								['Faculty Member', '2'],
								['Student Applicant', '1']
								])) %>

	<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
<% end %>
	</div>
</div>