<% provide(:title, full_name(@user.first_name, @user.last_name)) %>

<div class="row">
	<%-# User Profile Picture -%>
	<aside class="span2">
		<%= image_tag @user.avatar_url.to_s, :id => 'profile' %>
	</aside>
	<%-# User contact Information-%>
	<aside class="span4">
		<section>
			<p>
			<h1>
				<%= full_name(@user.first_name, @user.last_name) %>
			</h1>
		    </p>

			<h4>
				Email: <%= @user.email %>
			</h4>

			<p>
			<h4>
				Cell Phone: <%= @user.cellphone %>
			</h4>
		    </p>
		    <p>
		    <h4>
				<%= link_to "Update Profile", edit_user_path %>
			</h4>
		    </p>

		</section>
	</aside>

	<aside class="span4">
		<%-# For Student User Accounts -%>

		<% if current_user.user_type == 1 and @user.user_type == 1 %>

			<section>
				<h1>
					Your Completed Student Documents:
				</h1>
			</section>

			<% if @app == nil %>
		        <p>
				<%= link_to "New Student Application Form", new_app_path(@user) %>
				<% else %>
				<%= link_to "Your completed Student Application Form", @app %>
				</p>
			<% end %>
		<% end %>

		<%-# For Professor User Accounts -%>

		<% if current_user.user_type == 2 and @user.user_type == 2 %>

		<section>
			<h1>
				Your Completed Faculty Documents:
			</h1>
		</section>

		<p>
		<%= link_to "New Faculty Rec Form", new_facultyrec_path(@user) %>
		</p>

		<p>
		<%= link_to "Your completed Faculty Rec Forms", facultyrecs_path %>
		</p>
		<% end %>

		<%-# For Committee Member User Accounts -%>

		<% if current_user.user_type == 3 and @user.user_type == 3 %>

		<section>
			<h1>
				Your Completed Committee Documents
			</h1>
		</section>

			<p>
			<%= link_to "Create a New Evaluation", new_committee_member_evaluation_path %>
			</p>

			<p>
			<%= link_to "Your completed Evaluations", committee_member_evaluations_path %>
			</p>

		<% end %>

	</aside>
</div>
<%# Application Status Table %>
<div class="row">
<% if @user.user_type == 1 %>
<%= render partial: 'shared/application_status_item' %>
<% end %>
</div>
