<h1> Faculty Recommendation Forms </h1>

<h3> Honors Faculty Recomendation </h3>

<div>

<table class="table">
	<tr>
		<th>Faculty Name</th>
		<th>Babson Title</th>
		<th>Student Name</th>
		<th>Course Name</th>
	</tr>
	<tr>
		<td>
	<%= @facultyrec.faculty_name %>
		</td>
		<td>
	<%= @facultyrec.title %>
		</td>
		<td>
	<%= @facultyrec.applicant_name %>
		</td>
		<td>
	<%= @facultyrec.courses %>
		</td>
	</tr>
	<tr>
		<td> Question 1 </td>
		<td colspan="3">
	<%= @facultyrec.q1 %>
		</td>
	</tr>
	<tr>
		<td> Question 1 </td>
		<td colspan="3">
	<%= @facultyrec.q1_com %>
		</td>
	</tr>
	<tr>
		<td> Question 2 </td>
		<td colspan="3">
	<%= @facultyrec.q2 %>
		</td>
	</tr>
	<tr>
		<td> Question 2 </td>
		<td colspan="3">
	<%= @facultyrec.q2_com %>
		</td>
	</tr>
	<tr>
		<td> Question 3 </td>
		<td colspan="3">
	<%= @facultyrec.q3 %>
		</td>
	</tr>
	<tr>
		<td> Question 3 </td>
		<td colspan="3">
	<%= @facultyrec.q3_com %>
		</td>
	</tr>
	<tr>
		<td> Question 4 </td>
		<td colspan="3">
	<%= @facultyrec.q4 %>
		</td>
	</tr>
	<tr>
		<td> Question 4 </td>
		<td colspan="3">
	<%= @facultyrec.q4_com %>
		</td>
	</tr>
	<tr>
		<td> Question 5 </td>
		<td colspan="3">
	<%= @facultyrec.q5_com %>
		</td>
	</tr>
	<tr>
		<td> Question 6 </td>
		<td colspan="3">
	<%= @facultyrec.q6_com %>
		</td>
	</tr>
 </table>

</div>