<h1>Honors Applicant Form</h1>

<h3> Student Name: <%= @user.first_name + " " + @user.last_name %> </h3>

<h4>Instructions:</h4>

<p>Completed applications must be posted no later than February 8th, 2013. Late Application will not be considered.</p>

<p>Part of the application is a reference from a professor who had you in class in the fall semester and who can speak to your academic abilities. Once you have submitted your application, the professor that you have designated will recieve a reference from directly from the Honors Program. <b>Please be sure to ask your chosen faculty memeber if they are willing to write a reference for you before listing that person's name on your application.</b></p>

<p>Students will be selected for the program on the basis of thier academic record, essays, writing sample, reference, and, in the second round, an interview.
</p>

<p>Students will be notified by February 22 whether they will be moving on to the next step in the application process. Those students who are still being considered will be interviewed between February 27 and March 9 by two faculty members of the Honors Council.</p>

<p>To complete the application, you will need the following documents.</p>

<p>(a) A writing sample. This should be an essay you have written for any of the classes that you have taken at Babson that you believe is an excellent repreentation of your written communication skills. The document should not exceed 5 pages and can be a PDF file or a Word file. If your best writing sample is longer than 5 pages, please select a 5-page section from this paper as your writing sample.</p>

<p>(b) An unofficial copy of your transcript (to-date) obtained from the registrars office (electronically). This is typically a PDF file.</p>

<p>In addition, you will be asked to respond to the following questions. Your responses for each question should be no more than a paragrapgh.</p>

<p>1. What interests you about the Babson honors program and what are your expectations if you participate?</p>
<p>2. Write about research that you have done previously and why it interested you.</p>
<p>3. If you could witness one moment in history, what would it be and why would you chose that one?</p>

<p>4. If you founded your own college, what topics of study would you make mandatory for all students to study and why? What would be the values and priorities of your institution?</p>

<p>If you have the above documents and the name of the faculty memeber that is willing to act as as your reference, you are already to begin. If not, please close this page and return to it when you have all of the above information.</p>

<p>Good luck and best wishes.</p>

<%= form_for(@app) do |f| %>

	<p>
	<b>"I have read the instructions above and I have the materials I need to complete the application:"</b>
	</p>
	<div class="span2">
	<%= f.label :agree, "Click to agree:" %>
	</div>
	<%= f.radio_button :agree, "true" %>

<p>
	<h4>Application Details</h4>
</p>

	<%= f.hidden_field :applicant_name, :value => @user.first_name + " " + @user.last_name %>
	
	<%= f.hidden_field :user_id, :value => @user.id %>

<div class="row">
	<div class="span3">
		<%= f.label :year_of_grad, "Year of Graduation" %>
		<%= f.text_field :year_of_grad, :placeholder => 'e.g. 2016' %>
	</div>

	<div class="span4">
		<%= f.label :facultyreference, "I have requested a faculty reference from:" %>
		<%= f.text_field :facultyreference, :placeholder => "Ganeesan Shankar" %>
	</div>
</div>

<div class="row">
	<div class="span3">
		<%= f.label :boxnumber, "Campus Box #" %>
		<%= f.text_field :boxnumber, :placeholder => "2686" %>
	</div>

	<div class="span4">
	<%= f.label :faculty_email, "Please Enter Faculty Email Below" %>
	<%= f.text_field :faculty_email, :placeholder => "gshankar@babson.edu" %>
	</div>
</div>

</br>
	<h4>Four Questions:</h4>
</br>

	<%= f.label :q1, "1. What interests you about the Babson honors program and what are your expectations if you participate?" %>
	<%= f.text_area :q1, :cols => "30", :rows => "10" %>

	<%= f.label :q2, "2. Write about research that you have done previously and why it interested you." %>
	<%= f.text_area :q2, :cols => "30", :rows => "10" %>

	<%= f.label :q3, "3. If you could witness one moment in history, what would it be and why would you chose that one?" %>
	<%= f.text_area :q3, :cols => "30", :rows => "10" %>

	<%= f.label :q4, "4. If you founded your own college, what topics of study would you make mandatory for all students to study and why? What would be the values and priorities of your institution?" %>
	<%= f.text_area :q4, :cols => "30", :rows => "10" %>

	<h4>Application Materials</h4>

	<%= f.label :essay, "Please upload your writing sample here." %>
	<%= f.file_field :essay %>

	<%= f.label :transcript, "Please upload an unofficial copy of your transcript here." %>
	<%= f.file_field :transcript %>

	<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>

<% end %>