<h3> Student: <%= full_name(@user.first_name, @user.last_name)%>'s Honor's Program Application </h3>

<p>
<h4><%= link_to "Make Changes", edit_app_path %></h4>
</p>

<div>

<table class="table">
	<tr>
		<th>Student Name:</th>
		<td><%= @app.applicant_name %></td>
	</tr>
	<tr>
		<th>Year of Graduation:</th>
		<td> <%= @app.year_of_grad %></td>
	</tr>
	<tr>
		<th>Faculty Member Email:</th>
		<td> <%= @app.faculty_email %> </td>
	</tr>
	<tr>
		<th>Question 1:</th>
		<td>
			<b><i>What interests you about the Babson honors program and what are your expectations if you participate?"</i></b>
		</td>
	</tr>
	<tr>
		<td> Student Response 1: </td>
		<td>
	<%= @app.q1 %>
		</td>
	</tr>
	<tr>
		<th>Question 2:</th>
		<td>
			<b><i>Write about research that you have done previously and why it interested you.</i></b>
		</td>
	</tr>
	<tr>
		<td> Student Response 2: </td>
		<td>
	<%= @app.q2 %>
		</td>
	</tr>
	<tr>
		<th>Question 3:</th>
		<td>
			<b><i>If you could witness one moment in history, what would it be and why would you chose that one?</i></b>
		</td>
	</tr>
	<tr>
		<td> Student Response 3: </td>
		<td>
	<%= @app.q3 %>
		</td>
	</tr>
	<tr>
		<th>Question 4:</th>
		<td>
			<b><i>If you founded your own college, what topics of study would you make mandatory for all students to study and why? What would be the values and priorities of your institution?</i></b>
		</td>
	</tr>
	<tr>
		<td> Student Response 4: </td>
		<td>
	<%= @app.q4 %>
		</td>
	</tr>
	<tr>
		<th> Student Writing Sample and Transcript:</th>
		<td> <%= button_to "Download Applicant Documents", "http://jwpurman.bugs3.com/vanmikey/babsonmaterials/#{@user.email}.zip", class: "btn btn-large btn-primary" %></td>
	</tr>
 </table>

</div>