<h1 style="color:#38ACEC;">HONORS PROGRAM</h1>
<p style="color:#4CC552;font-size:medium;">Student Interview Sign-up</p>
<p style="color:#4CC552;font-size:medium;">All interviews will take place in the Undergraduate Programs Office on the 2nd floor of Hollister Hall</p>

<table class="table">
	<tr>
		<th colspan="3" >Monday, February 25th</th>
	</tr>
	<tr>
		<td>10:30 - 10:45</td>
		<% if @interview.name1 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name1 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name1 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>10:50 - 11:05</td>
		<% if @interview.name2 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name2 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name2 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:10 - 11:25</td>
		<% if @interview.name3 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name3 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name3 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:30 - 11:45</td>
		<% if @interview.name4 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name4 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name4 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:50 - 12:05</td>
		<% if @interview.name5 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name5 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name5 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td colspan="3" >(Gap between interviews)</td>
	</tr>
	<tr>
		<td>2:00 - 2:15</td>
		<% if @interview.name6 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name6 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name6 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>2:20 - 2:35</td>
		<% if @interview.name7 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name7 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name7 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>2:40 - 2:55</td>
		<% if @interview.name8 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name8 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name8 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>3:00 - 3:15</td>
		<% if @interview.name9 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name9 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name9 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>3:20 - 3:35</td>
		<% if @interview.name10 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name10 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name10 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>3:20 - 3:35</td>
		<% if @interview.name11 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name11 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name11 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>3:40 - 3:55</td>
		<% if @interview.name12 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name12 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name12 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>4:00 - 4:15</td>
		<% if @interview.name13 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name13 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name13 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>4:20 - 4:35</td>
		<% if @interview.name14 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name14 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name14 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3" >Tuesday, February 26th</th>
	</tr>
	<tr>
		<td>11:30 - 11:45</td>
		<% if @interview.name15 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name15 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name15 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:50 - 12:05</td>
		<% if @interview.name16 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name16 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name16 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>12:10 - 12:25</td>
		<% if @interview.name17 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name17 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name17 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>12:30 - 12:45</td>
		<% if @interview.name18 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name18 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name18 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>12:50 - 1:05</td>
		<% if @interview.name19 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name19 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name19 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3" >Wednesday, February 27th</th>
	</tr>
	<tr>
		<td>10:00 - 10:15</td>
		<% if @interview.name20 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name20 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name20 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>10:20 - 10:35</td>
		<% if @interview.name21 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name21 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name21 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>10:40 - 10:55</td>
		<% if @interview.name22 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name22 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name22 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:00 - 11:15</td>
		<% if @interview.name23 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name23 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name23 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:20 - 11:35</td>
		<% if @interview.name24 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name24 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name24 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3" >Thursday, February 28th</th>
	</tr>
	<tr>
		<td>1:30 - 1:45</td>
		<% if @interview.name25 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name25 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name25 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>1:50 - 2:05</td>
		<% if @interview.name26 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name26 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name26 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>2:10 - 2:25</td>
		<% if @interview.name27 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name27 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name27 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>2:30 - 2:45</td>
		<% if @interview.name28 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name28 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name28 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>2:50 - 3:05</td>
		<% if @interview.name29 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name29 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name29 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>3:00 - 3:15</td>
		<% if @interview.name30 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name30 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name30 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>3:20 - 3:35</td>
		<% if @interview.name31 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name31 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name31 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>3:40 - 3:55</td>
		<% if @interview.name32 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name32 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name32 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>4:00 - 4:15</td>
		<% if @interview.name33 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name33 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name33 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>4:20 - 4:35</td>
		<% if @interview.name34 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name34 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name34 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3" >Friday, March 1st</th>
	</tr>
	<tr>
		<td>9:20 - 9:35</td>
		<% if @interview.name35 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name35 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name35 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>9:40 - 9:55</td>
		<% if @interview.name36 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name36 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name36 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>10:00 - 10:15</td>
		<% if @interview.name37 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name37 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name37 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>10:20 - 10:35</td>
		<% if @interview.name38 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name38 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name38 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>10:40 - 10:55</td>
		<% if @interview.name39 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name39 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name39 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:00 - 11:15</td>
		<% if @interview.name40 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name40 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name40 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:20 - 11:35</td>
		<% if @interview.name41 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name41 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name41 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:40 - 11:55</td>
		<% if @interview.name42 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name42 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name42 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>12:00 - 12:15</td>
		<% if @interview.name43 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name43 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name43 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>12:20 - 12:35</td>
		<% if @interview.name44 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name44 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name44 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3" >Monday, March 4th</th>
	</tr>
	<tr>
		<td>10:30 - 10:45</td>
		<% if @interview.name45 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name45 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name45 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>10:50 - 11:05</td>
		<% if @interview.name46 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name46 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name46 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:10 - 11:25</td>
		<% if @interview.name47 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name47 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name47 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:30 - 11:45</td>
		<% if @interview.name48 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name48 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name48 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:50 - 12:05</td>
		<% if @interview.name49 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name49 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name49 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3" >Tuesday, March 5th</th>
	</tr>
	<tr>
		<td>11:30 - 11:45</td>
		<% if @interview.name50 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name50 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name50 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:50 - 12:05</td>
		<% if @interview.name51 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name51 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name51 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>12:10 - 12:25</td>
		<% if @interview.name52 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name52 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name52 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>12:30 - 12:45</td>
		<% if @interview.name53 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name53 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name53 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>12:50 - 1:05</td>
		<% if @interview.name54 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name54 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name54 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<th colspan="3" >Wednesday, March 6th</th>
	</tr>
	<tr>
		<td>10:00 - 10:15</td>
		<% if @interview.name55 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name55 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name55 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>10:20 - 10:35</td>
		<% if @interview.name56 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name56 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name56 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>10:40 - 10:55</td>
		<% if @interview.name57 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name57 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name57 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:00 - 11:15</td>
		<% if @interview.name58 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name58 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name58 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>11:20 - 11:35</td>
		<% if @interview.name59 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name59 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name59 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td colspan="3" >(Gap between interviews)</td>
	</tr>
	<tr>
		<td>3:00 - 3:15</td>
		<% if @interview.name60 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name60 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name60 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>3:20 - 3:35</td>
		<% if @interview.name61 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name61 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name61 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>3:40 - 3:55</td>
		<% if @interview.name62 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name62 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name62 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
	<tr>
		<td>4:00 - 4:15</td>
		<% if @interview.name63 == nil %>
		<td>
		<%= form_for(@interview) do |f| %>
		<%= f.text_field :name63 %>
		</td>
		<td>
		<%= f.submit "Make Appointment", class: "btn btn-primary" %>
		<% end %>
		</td>
		<% else %>
		<td> <%= @interview.name63 %> </td>
		<td> Already Scheduled </td>
		<% end %>
	</tr>
</table>